# Sadece Dart dosyaları dikkate alınsın
*.dart linguist-detectable=true

# C++ ve CMake algılanmasın
*.cpp linguist-detectable=false
*.cc linguist-detectable=false
*.h linguist-detectable=false
*.c linguist-detectable=false
*.cmake linguist-detectable=false
CMakeLists.txt linguist-detectable=false

# Flutter platform klasörlerini dışla
android/** linguist-detectable=false
ios/** linguist-detectable=false
linux/** linguist-detectable=false
macos/** linguist-detectable=false
windows/** linguist-detectable=false
